body {
    margin: 0;
    background-color: rgb(184, 243, 223);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul'; /*dividindo as areas*/
    grid-gap: 10px; /*para colocar o espaço entre as divs */
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul; /*p dizer q ele vai ocupar aquela área*/
    background-color: rgb(13, 49, 209);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho; /*p dizer q ele vai ocupar aquela área*/
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(255, 255, 4);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde; /*p dizer q ele vai ocupar aquela área*/
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.8;
}